.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choiseWrapper {
    height: 200px;
    width: 100vw;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #772121;
    border-radius:  0 0 10px 10px;
    color: white;   
    display: flex;
    align-items: center;
    justify-content: center;
}


.tableContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    width: 100%;
    max-width: 400px;
    padding: 0 20px;
}

.tableButton {
    flex: 1 1 40%;
    min-width: 120px;
    padding: 15px;
    font-size: 18px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    box-shadow: 0 0 3px -3px  black;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}


@media (max-width: 480px) {
    .tableButton {
        flex: 1 1 100%;
        font-size: 16px;
        padding: 12px;
    }
}
